<table id="datamodel-table-{{ object.id }}" class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>#</th>
        {% for detail in data.details %}
            {% if (detail.classification == 'number') %}
                {% set sort_icon_class = 'numeric' %}
            {% elseif (detail.classification == 'string') %}
                {% set sort_icon_class = 'alpha' %}
            {% else %}
                {% set sort_icon_class = 'amount' %}
            {% endif %}
            <th title="{{ detail.title }}" style="text-align: center;">
                <div class="btn-group" style="width: 100%">
                    <label aria-expanded="false" type="button" class="dropdown-toggle" data-toggle="dropdown"
                           style="width: 100%">
                        <span>{{ detail.title }}</span>
                        <a href="#sort-by-{{ detail.id }}"
                           class="datamodel-data-header-sort-icon-{{ object.id }} pull-right">

                            <i class="fa fa-sort-{{ object.id }}-asc fa-sort-{{ detail.id }}-asc fa-sort-{{ sort_icon_class }}-asc"></i>
                            <i class="fa fa-sort-{{ object.id }}-desc fa-sort-{{ detail.id }}-desc fa-sort-{{ sort_icon_class }}-desc"></i>
                        </a>
                    </label>
                    <ul role="menu"
                        class="dropdown-menu dropdown-menu-{% if (loop.index0>=loop.revindex0) %}right{% else %}left{% endif %}">
                        <li>
                            <a class="datamodel-data-order-by-{{ object.id }} datamodel-data-order-by-{{ detail.id }}-asc"
                               data-sort-by="{{ detail.id }}" data-sort-order="ASC"
                               href="#sort-asc-by-{{ detail.id }}">
                                <i class="fa fa-sort-{{ sort_icon_class }}-asc"></i> {{ 'datamodel.execute.paginator.order.asc' | trans({},admin.getResourceManager().getBundleName()) }}
                            </a>
                        </li>
                        <li>
                            <a class="datamodel-data-order-by-{{ object.id }} datamodel-data-order-by-{{ detail.id }}-desc"
                               data-sort-by="{{ detail.id }}" data-sort-order="DESC"
                               href="#sort-desc-by-{{ detail.id }}">
                                <i class="fa fa-sort-{{ sort_icon_class }}-desc"></i> {{ 'datamodel.execute.paginator.order.desc' | trans({},admin.getResourceManager().getBundleName()) }}
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
        {% endfor %}
    </tr>
    </thead>
    {% for row in data.data %}
        <tr>
            <td>{{ (data.paginator.currentPage-1)*data.paginator.maxPerPage + loop.index }}</td>
            {% for detail in data.details %}
                {% set format = detail.format %}
                {% set prefix = detail.prefix %}
                {% set suffix = detail.suffix %}
                {% set value = row[detail.alias] %}
                {% if (detail.classification == 'number') %}
                    {% set text_align = 'right' %}
                {% else %}
                    {% set text_align = 'center' %}
                {% endif %}

                <td style="text-align: {{ text_align }};">{{ prefix }}{{ helpers.formatter.formatValue(value,format) }}{{ suffix }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>  


