<table class="table table-bordered table-hover table-striped" id="tpx-dq-query-table-{{object.id}}">
    <thead>
        <tr>
            <th>#</th>
            <!-- -->{% for d in public_fields_descriptions %}
            <!-- --><th title="{{ d.title }}" style="text-align: center;">

    <div class="btn-group">
        <span aria-expanded="false" type="button" class="dropdown-toggle" data-toggle="dropdown">
            <a href="#sort-by-{{ d.abbreviation }}" class="table-column-header-{{object.id}}">
                {{ d.title }}
                <i class="fa fa-sort-{{d.id}}-asc fa-sort-amount-asc hide"></i>
                <i class="fa fa-sort-{{d.id}}-desc fa-sort-amount-desc hide"></i>
            </a>
        </span>
        <ul class="dropdown-menu dropdown-menu-{% if (loop.index0>=loop.revindex0)%}right{%else%}left{%endif%}" role="menu">
            <li>
                <a class="table-column-arrow-order-by-{{object.id}} table-column-arrow-order-by-{{d.id}}-asc" data-sort-by="{{d.id}}" data-sort-order="ASC" href="#sort-asc-by-{{ d.abbreviation }}" >
                    <i class="fa fa-sort-amount-asc"></i> {{'ASC Order' | trans({},'TechPromuxDynamicQueryBundle')}}
                </a>
            </li>
            <li>
                <a class="table-column-arrow-order-by-{{object.id}} table-column-arrow-order-by-{{d.id}}-desc" data-sort-by="{{d.id}}" data-sort-order="DESC" href="#sort-desc-by-{{ d.abbreviation }}">
                    <i class="fa fa-sort-amount-desc"></i> {{'DESC Order' | trans({},'TechPromuxDynamicQueryBundle')}}
                </a>
            </li>
        </ul>
    </div>   
    <!-- --></th>

<!-- -->{% endfor %}
</tr>
</thead>
{% for row in result %}
    <tr>
        <td>{{ (paginator.currentPage-1)*paginator.maxPerPage + loop.index }}</td>
        {% for d in public_fields_descriptions %}
            {% set format = d['format'] %}
            {% set prefix = d['prefix'] %}
            {% set suffix = d['suffix'] %}
            {% set value = row[d['sql_alias']] %}
            <td>{{ formatter_helper.formatValue(value,format,prefix,suffix) }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>  


